<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--ChatSyncRelations should be in format : "{from chat id}:{from displayed skype name}|(both|from|to)|{to chat id}:{to displayed skype name}" where middle part is sync direction. Id you can find by calling "!get id" command-->
    <add key="ChatSyncRelations" value="bc061f892687f978:Mens's club|both|9520071bd2fdbd52:mensclub.by"/>
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExRatesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
          binding="basicHttpBinding" bindingConfiguration="ExRatesSoap"
          contract="ExRates.ExRatesSoap" name="ExRatesSoap" />
    </client>
  </system.serviceModel>
</configuration>