<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="lastMessageX" value="1053"/>
    <add key="lastMessageY" value="960"/>
     <add key="textBoxX" value="1015"/>
    <add key="textBoxY" value="995"/>
    -->
    <add key="lastMessageX" value="2583"/>
    <add key="lastMessageY" value="937"/>
    <add key="textBoxX" value="2634"/>
    <add key="textBoxY" value="974"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>


  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ExRatesSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
          binding="basicHttpBinding" bindingConfiguration="ExRatesSoap"
          contract="ExRates.ExRatesSoap" name="ExRatesSoap" />
    </client>
  </system.serviceModel>
</configuration>