<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ExRatesSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://www.nbrb.by/Services/ExRates.asmx"
                binding="basicHttpBinding" bindingConfiguration="ExRatesSoap"
                contract="ExRates.ExRatesSoap" name="ExRatesSoap" />
        </client>
    </system.serviceModel>
</configuration>